{% extends "base.html" %} 
{% block content %} 
{% if request.user.is_authenticated %}
<a class="logout" href="/logout/">Logout</a>

<div id="messageContainer">
  {% for message in messages %}
  <div>
    <span class="colorGrey">[{{ message.created_at }}]</span>
    {{ message.author.first_name }}: <i>{{ message.text }}</i>
  </div>
  {% endfor %}
</div>

<script>
  async function sendMessage() {
    let fd = new FormData();
    let token = "{{ csrf_token}}";
    let user = '{{ request.user.first_name }}';
    fd.append("textmessage", messageField.value);
    fd.append("csrfmiddlewaretoken", token);
    try {
      renderSendingMessage(messageField.value, user);
      await fetch("/chat/", {
        method: "POST",
        body: fd,
      });
      renderSentMessage(messageField.value, user);
    } catch (e) {
      console.log("Error:", e);
      renderMessageNotSent(messageField.value, user);
    }
  }

  function getCurrentFormattedDate() {
    const options = { 
      month: 'short', 
      day: 'numeric', 
      year: 'numeric' 
    };
    const currentDate = new Date();
    const formattedDate = currentDate.toLocaleDateString('en-US', options);
    const monthWithDot = formattedDate.replace(/^(\w+)( \d+, \d+)$/, '$1.$2');
    return monthWithDot;
  }


  function renderSendingMessage(newMessageText, user) {
    const formattedDate = getCurrentFormattedDate();
    messageContainer.innerHTML += `
      <div id="deleteMessage">
        <span class="colorGrey">[${formattedDate}] </span>${user}: <i class="colorGrey">${newMessageText}</i>
      </div>`;
  }

  function renderSentMessage(newMessageText, user) {
    const formattedDate = getCurrentFormattedDate();
    document.getElementById('deleteMessage').remove();
    messageContainer.innerHTML += `
    <div id="deleteMessage">
    <span class="colorGrey">[${formattedDate}] </span>${user}: <i>${newMessageText}</i>
    </div>`;
  }

  function renderMessageNotSent(newMessageText, user) {
    const formattedDate = getCurrentFormattedDate();
    document.getElementById('deleteMessage').remove();
    messageContainer.innerHTML += `
    <div id="deleteMessage">
    <span class="colorGrey">[${formattedDate}] </span>${user}: <i class="colorRed">${newMessageText}, Message not sent</i>
    </div>`;
  }
</script>

<form onsubmit="sendMessage(); return false" method="post">
  {% csrf_token %}
  <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
    <input
      class="mdl-textfield__input"
      name="textmessage"
      type="text"
      id="messageField"
    />
    <label class="mdl-textfield__label" for="messageField">Text...</label>
  </div>
  <button
    class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent"
  >
    Send
  </button>
</form>

{% else %}
<h1>Not logged in</h1>
<p>
  You are not logged in. Please log in.<br />
  Please click <a href="/login/">here</a>.
</p>
{% endif %} 
{% endblock %}
