.page-content {
    padding: 100px 100px;
  }

  .colorGrey {
    color: gray;
  }

  .colorRed {
    color: red;
  }

  .logout {
    position: absolute;
    right: 20px;
    top: 50px;
  }

  .disabled {
    filter: grayscale(1);
    color: gray !important;
  }