.page-content {
    padding: 100px 100px;
  }

  .colorGrey {
    color: gray;
    font-size: 12px;
  }

  .colorRed {
    font-size: 12px;
    color: red;
  }

  .logout {
    position: absolute;
    right: 20px;
    top: 50px;
  }